<h1>All Talents</h1>

<ul>
    <% @talents.each do |talent| %>
    <li>
        <%= link_to talent.name, talent_path(talent) %>
    </li>
    <% end %>
</ul>

<button class="rounded_button_small"><%= link_to "New Talent", new_talent_path %></button>
<br><br>
<button class="rounded_button bottom"><%= link_to "Back to Home Page", homepage_path %></button>
