<%= image_tag "roxxxywithtwoguns.PNG" %>

<h1>You Sure About That??????</h1>
<button><%= link_to "Yes, Log Me Out", logouts_path %></button>
<button><%= link_to "No, Have Mercy Roxxxy", users_path %></button>