<h1>All Houses</h1>

<ul>
    <% @houses.each do |house| %>
    <li>
        <%= link_to house.name, house_path(house) %>
    </li>
    Members: <%= house.count_users %>
    <% end %>
</ul>

<br>
<button><%= link_to "Back to Home Page", homepage_path %></button>