<h1>Edit City</h1>
<hr>
<br>
<%= form_for @city do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
      </div>
    </div>
    <br>
    <button type="submit" class="btn rounded_button">Submit</button>
<% end %>