<div class="index_template">
<br>
<h1 class="index_title">All Cities</h1>
<div class="index_info" style="margin-top: 5%;">
<ul class="index_ul">
    <% @cities.each do |city| %>
        <h5><div class="index_list_item">
            <%= link_to city.name, city_path(city) %>
        </div></h5>
    <% end %>
</ul>
<br>

<button class="rounded_button_small"><%= link_to "New City", new_city_path %></button>
<br>
<button class="rounded_button small" style="width: 100%;"><%= link_to "Home Page", homepage_path %></button>
</div>
</div>
</div>