/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .error_message {
     display: inline;
     color: darkred;
 }

 .field_with_errors {
     display: inline;
     color: red;
 }
 
 .subtitle {
     font-size: small;
 }

 html {
     background: url(pink_rice.png);
     background-repeat: repeat;
 }

 body {
     margin-right: 10%;
     margin-left: 10%;
     padding-left: 5%;
     padding-right: 5%;
     padding-top: 2%;
     font-family: 'Times New Roman', Times, serif;
 }

 .logo {
     max-width: 10%;
 }

 .logo_text {
     vertical-align: middle;
     font-size: x-large;
 }

 .logged_in_text {
    text-align: right;
    font-size: medium;
 }

 a:link {
    color: rgb(97, 171, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgba(255, 85, 198, 0.233);
  }
  
  /* mouse over link */
  a:hover {
    color: pink;
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 164, 228);
  }
  