/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .error_message {
     display: inline;
     color: darkred;
 }

 .field_with_errors {
     display: inline;
     color: red;
 }
 
 .subtitle {
     font-size: small;
 }

 html {
     background: url(pink_rice.png);
     background-repeat: repeat;
     height: 100%;
 }

 body {
     margin-right: 10%;
     margin-left: 10%;
     padding-left: 5%;
     padding-right: 5%;
     padding-top: 2%;
     font-family: 'Times New Roman', Times, serif;
     height: 100%;
 }

 .logo {
     max-width: 10%;
 }

 .logo_text {
     vertical-align: middle;
     font-size: xx-large;
 }

 .logged_in_text {
    text-align: right;
    font-size: medium;
 }

 a:link {
    color: lightcoral;
  }
  
  /* visited link */
  a:visited {
    color: lightcoral;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: lightcoral;
  }
  
  .login_box {
    display: block;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    max-width: 100%;
  }

  nav {
    display: block;
  }

  .login_form {
    text-align: left;
    
  }

  .rounded_button {
    display: block;
    width: 35%;
    border: none;
    background-color: rgb(243, 204, 205);
    padding: 14px 28px;
    font-size: large;
  }

.button_pink {
  background-color: rgb(243, 204, 205);
  width: 35%;
}

.button_pink:hover {
  color: white;
}

.login_body {
  background-image: url(violetserving.jpg);
  background-size: cover;
  
  position: relative;
}

.rounded_button a:visited{
  color: rgb(26, 26, 26);
}

.rounded_button a:link{
  color: rgb(26, 26, 26);
}
.rounded_button a:active{
  color: rgb(26, 26, 26);
}
.rounded_button a:hover{
  color: white;
}

.rounded_button_small {
  display: block;
  width: 20%;
  border: none;
  background-color: rgb(243, 204, 205);
  padding: 14px 28px;
  font-size: smaller;
}

.rounded_button_small a:visited{
  color: rgb(26, 26, 26);
}

.rounded_button_small a:link{
  color: rgb(26, 26, 26);
}
.rounded_button_small a:active{
  color: rgb(26, 26, 26);
}
.rounded_button_small a:hover{
  color: white;
}

.banner_image {
  display: inline;
  max-width: 100%;
}

.center {
  text-align: center;
}

.margins {
  margin-left: 30%;
  margin-right: 30%;
  align-content: center;
  font-size: large;
}

.pink_text_button {
  border: none;
  color: lightcoral;
}

.pink_text_button:hover {
  color: black;
}