.homepage_yes {
    height: 100%;
    background: url(pearlstunning.jpg);
    background-position: top;
    background-attachment: fixed;
    
}

.homepage_title {
    text-align: center;
    border-style: double;
    border-color: pink;
    border-width: 10px;
    background-color:rgb(29, 29, 29);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
    padding: 3%;
    
}

body.homepage_body {
    overflow: hidden;
}
.twitter-timeline-rupaul {
    left: auto;
}