// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_show_page {
    background-image: url(sheacoulee.jpg);
    background-size: cover;
    background-repeat: none;
    height: 100%;
    text-align: center;
    color: pink;
}

.user_info {
    
    margin-top: 5%;
    margin-left: 15% ;
    margin-right: 15%;
    padding: 20px;
    text-align: center;
    border-style: double;
    border-color: rgb(245, 181, 183);
    border-width: 10px;
    background-color: rgb(29, 29, 29);
}

div.user_talent_links a:hover {
    color: white;
}

div.user_city_link a:hover {
    color: white;
}
