// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_show_page {
    background-image: url(sheacoulee.jpg);
    background-size: cover;
    background-repeat: none;
    height: 100%;
    text-align: center;
    color: pink;
}

.user_info {
    
    margin: 10% 25%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    border-style: double;
    border-color: rgb(245, 181, 183);
    border-width: 10px;
    background-color: rgba(71, 48, 49, 0.76);
}

div.user_talent_links a {
    color: rgb(255, 178, 106);
}

div.user_talent_links a:hover {
    color: rgb(246, 145, 255);
}

div.user_city_link a {
    color: rgb(255, 178, 106);

}

div.user_city_link a:hover {
    color: rgb(246, 145, 255);
}

