<div class="homepage_yes">
  <body class="homepage_body">

    <br>
    <br><br>
    <div class="homepage_title">
      <%= image_tag("homepagegreeting.png") %>
      <!-- <br>
      <%= image_tag("homepagestatement.png") %> -->
    </div>
    <br>
    <br>
    <!-- <div class="twitter">
      <a class="twitter-timeline" data-width="500" data-height="600" data-theme="white" href="https://twitter.com/RuPaul?ref_src=twsrc%5Etfw">Tweets by RuPaul</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a class="twitter-timeline" data-width="500" data-height="600" data-theme="white" href="https://twitter.com/RuPaulsDragRace?ref_src=twsrc%5Etfw">Tweets by RuPaulsDragRace</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->
  </body>
</div>