<h1>Drag Persona App</h1>

<div>
    <%= link_to "Users", users_path %>
</div>
<div>
    <%= link_to "Talents", talents_path %>
</div>
<div>
    <%= link_to "Houses", houses_path %>
</div>
<br><br>
<div>
    <%= link_to "Analytics", analytics_path %>
</div>